@keyframes slideUp {
    0% {
      transform: translate(-50%, 100%);
      opacity: 0;
    }
    50% {
      transform: translate(-50%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, 0%);
      opacity: 1;
    }
  }
  
  .animate-slideUp {
    animation: slideUp 0.5s ease-out;
  }